
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #272727;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
}

  html, body {
    height: 100%;
    width: 100%;
  }

  body {
    background-color: #706bc4;
    color: #ffffc3;
    font-family: 'Lora', serif;
    font-size: 14px;
    line-height: 18px;
  }

a {
  color: #00e080;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}
li a {
  display: block;
  color: #00e080;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
li a:hover {
  background-color: #00e080;
  color: #272727;
}

h1,h2,h3,h4,h5 {
      font-family: 'Poiret One', cursive;
}