/*customizations*/

body {
    background-image: url("http://u.cubeupload.com/kkslidermight/background.png");
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    height:500px; 
    padding-top: 6rem;  
  }
  


  .jumbotron {
    margin-top: 50px;
    margin-bottom: 50px;
  }
.navbar ul li {
     padding-left: 50px;
     padding-right: 50px;
   }

   .well {
     margin-left: 10px;
     max-width: 25%;
   }