/*customizations*/

body {
    background-image: url("http://u.cubeupload.com/kkslidermight/background.png");
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    height:500px; 
    background-color: transparent;
    padding-top: 4rem;  
  }
  
    .container {
    background-color: #222;
    text-align: justify;
    max-width: 750 px;
    max-height: auto;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 5px;
}  
  .jumbotron {
    margin-top: 50px;
    margin-bottom: 50px;
  }
