<h1>Sign up to get started:</h1>


<form method="post" action="/users">
<p>
	<div><label for="username">Username: </label></div>
	<input type="username" name="username" id="username" />
</p>
<p>
	<div><label for="password">Password: </label></div>
	<input type="password" name="password" id="password"/>
</p>
<input type="submit" name="signup" value="signup">
</form>
