<br>
<div class="container">
<h1>Welcome, <%=current_user.username %>.</h1>
<hr>

<div class="btn-group-vertical">
    <a href="/logs/show" class="btn btn-default">View/Edit backlog</a>
    <a href="/logs/new" class="btn btn-default">Create backlog</a>
</div>


</div>