<% if @log.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize@log.errors.count, "error"%> prohibited this log from being saved:</h2>
        <ul>
            <% @log.errors.full_messages.each do |msg| %>
                <li><%= msg%></li>
                <% end %>
                </ul>
                </div>
                <% end %>
<fieldset>
    <legend>New Log:</legend>
<form class="form-horizontal" method="post" action="/logs">

    <div class="form-group">
    <label for="game_title" class="col-lg-2 control-label">Title: </label>
    <div class="col-lg-10"><input id="game_title" type="text" name="log[game_title]" /></div>
 </div>
  

    <div class="form-group"><label for="game_console" class="col-lg-2 control-label">Console: </label>
    <div class="col-lg-10"><input id="game_console" type="text" name="log[game_console]" /></div>
</div>
 
    <div class="form-group"><label for="game_desc" class="col-lg-2 control-label">Description: </label>
   <div class="col-lg-10">
    <textarea class="form-control" rows="3" id="textArea" id="game_desc" type="text" name="log[game_desc]"></textarea>
    </div>
   </div>

  <input type="submit" value="Create log" />
  </fieldset>
</form>