<!DOCTYPE html>

  <head>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

    <title>Game Logjam</title>


<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<link href="https://fonts.googleapis.com/css2?family=Lora&family=Poiret+One&display=swap" rel="stylesheet">


</script>

    <ul class="navbar">
  <li><a href="#home">Home</a></li>
  <li><a href="#news">Info</a></li>
  <li><a href="/users/new">Signup</a></li>
  <li><a href="#news">Login</a></li>
    </ul>
  </head>

  <body>

  <%= yield %>

      

      <footer class="branding">
        <small>&copy; 2020 <strong>Kenney Goad Flatiron Project 2</strong></small>
      </footer>
    </div>


  </body>

</html>
