
</p>Welcome.</p>
<em>
	<div class="content">
<h1>Well, how'd you become king, then?</h1>
<p>Where'd you get the coconuts? I'm not a witch. It's only a model. Knights of Ni, we are but simple travelers who seek the enchanter who lives beyond these woods. Shut up! Will you shut up?!</p>
<p>Well, Mercia's a temperate zone! Where'd you get the coconuts? Well, Mercia's a temperate zone! Shh! <strong> Knights, I bid you welcome to your new home.</strong> <em> Let us ride to Camelot!</em> I have to push the pram a lot.</p>
<h2>I don't want to talk to you no more, you empty-headed animal food trough water! I fart in your general direction! Your mother was a hamster and your father smelt of elderberries! Now leave before I am forced to taunt you a second time!</h2>
<p>You don't frighten us, English pig-dogs! Go and boil your bottoms, sons of a silly person! I blow my nose at you, so-called Ah-thoor Keeng, you and all your silly English K-n-n-n-n-n-n-n-niggits! I dunno. Must be a king.</p>
<p>
<p>The Lady of the Lake, her arm clad in the purest shimmering samite, held aloft Excalibur from the bosom of the water, signifying by divine providence that I, Arthur, was to carry Excalibur. That is why I am your king.</p><p>I dunno. Must be a king.</p><p>On second thoughts, let's not go there. It is a silly place.</p>
</p>

<h3>The nose?</h3>
<p>A newt? The Knights Who Say Ni demand a sacrifice! And the hat. She's a witch! You don't vote for kings. You don't frighten us, English pig-dogs! Go and boil your bottoms, sons of a silly person! I blow my nose at you, so-called Ah-thoor Keeng, you and all your silly English K-n-n-n-n-n-n-n-niggits!</p>
<p>
<p>Found them? In Mercia?! The coconut's tropical!</p><p>Oh! Come and see the violence inherent in the system! Help, help, I'm being repressed!</p><p>Oh, ow!</p>
</ul>

<p>Where'd you get the coconuts? We want a shrubbery!! Shut up! But you are dressed as one…</p>
<p>On second thoughts, let's not go there. It is a silly place. The nose? Ni! Ni! Ni! Ni! Why do you think that she is a witch?</p>
<p>The swallow may fly south with the sun, and the house martin or the plover may seek warmer climes in winter, yet these are not strangers to our land. Be quiet! Well, what do you want? You can't expect to wield supreme power just 'cause some watery tart threw a sword at you!</p>
<p>You can't expect to wield supreme power just 'cause some watery tart threw a sword at you! Listen. Strange women lying in ponds distributing swords is no basis for a system of government. Supreme executive power derives from a mandate from the masses, not from some farcical aquatic ceremony.</p>
<p>Well, Mercia's a temperate zone! On second thoughts, let's not go there. It is a silly place. Ni! Ni! Ni! Ni! Found them? In Mercia?! The coconut's tropical!</p>
<p>Well, I didn't vote for you. I don't want to talk to you no more, you empty-headed animal food trough water! I fart in your general direction! Your mother was a hamster and your father smelt of elderberries! Now leave before I am forced to taunt you a second time!</p>
<p>Listen. Strange women lying in ponds distributing swords is no basis for a system of government. Supreme executive power derives from a mandate from the masses, not from some farcical aquatic ceremony. Well, I didn't vote for you.</p>
<p>Ni! Ni! Ni! Ni! You don't frighten us, English pig-dogs! Go and boil your bottoms, sons of a silly person! I blow my nose at you, so-called Ah-thoor Keeng, you and all your silly English K-n-n-n-n-n-n-n-niggits!</p>
<p>We found them. And this isn't my nose. This is a false one. Well, what do you want? Did you dress her up like this?</p>
<p>You can't expect to wield supreme power just 'cause some watery tart threw a sword at you! Bloody Peasant! The Knights Who Say Ni demand a sacrifice! The Knights Who Say Ni demand a sacrifice!</p>
<p>You can't expect to wield supreme power just 'cause some watery tart threw a sword at you! I have to push the pram a lot. But you are dressed as one… Well, Mercia's a temperate zone!</p>the photons with phase discriminators.
</p>
</em>
</div>